{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/home/home.css">
{% endblock %}

{% block content %}
<div class="home-wrapper">
    <div class="home-grid">
        <a class="btn" href="{{ url_for('board') }}">Одиночная игра</a>
        <a class="btn" href="{{ url_for('waiting') }}">Сетевая игра</a>
        <a class="btn" href="{{ url_for('home') }}">Друзья</a>
    </div>
        <div class="status-box" id="statusBox">
        <div class="timer" id="statusTimer">00:00</div>
        <button id="statusReturn">Вернуться</button>
        <button id="statusLeave">Покинуть</button>
    </div>
</div>
<div id="leaveModal" class="modal-overlay">
    <div class="modal">
        <p>Вы уверены, что хотите покинуть игру?</p>
        <div class="modal-buttons">
            <button id="leaveYes" class="btn-red">Да</button>
            <button id="leaveNo" class="btn-green">Нет</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    const userId = "{{ user_id }}";
</script>
<script src="/static/home/home.js"></script>
{% endblock %}
